body, html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #777;
 
}
a {
color: dimgrey;
}


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("windowman.jpeg");
  min-height: 100%;
}
.yourboy {
color: #777;
background-color:white;
text-align:center;
padding:50px 80px;
text-align: justify;
}
.examples {
background-color: #777;
position: static;
}
.bgimg-2 {
  background-image: url("tunnel.jpeg");
  min-height: 400px;
}

.resize {
    width: 250px;
    height: auto;
    padding-top: 50px;
    padding-left: 250px;
}

.resize {
    width: 250px;
    height: auto;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}


.caption span.border {
    background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.gallery {
  width: 2000px;
  margin: 0 auto;
  padding: 5px;
  padding-left: 225px;
  padding-top: 25px;
  background: #777;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

.video {
   text-align: center;
}

.bgimg-3 {
  background-image: url("neworleans.jpg");
  min-height: 400px;
}

.social {
position: relative;
top: 265px;
left: 25px;

}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.navbar {
    margin-bottom: 0;
    background-color: #1abc9c;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #000 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #505050 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}